@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-RegularItalic_78effad58d577865c3bb80e19b95633d.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    background: #000;
    color: #f6ec13;
    font-weight: 400;
    font-style: normal;
    font-family: "Xanh Mono", serif;
}

header h1 {
    font-size: 148px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    line-height: 0.8;
    margin: 120px auto;
}

header h1 span {
    display: block;
    letter-spacing: -0.02em;
}

header h1 .line1 {
    letter-spacing: -0.02em;
}

header h1 .line2 {
    letter-spacing: -0.02em;
}

.video-section {
    width: 33.3%;
    margin: 0 auto 60px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.links {
    margin: 0 auto;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 33.3%;
    padding: 0 15px;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0 7.5px;
}

.form-title {
    font-size: 36px;
}

form input {
    width: 100%;
    max-width: 320px;
    height: 46px;
    border: 2px solid #d8beff;
    border-radius: 5px;
    text-indent: 2%;
    font-size: 16px;
    letter-spacing: 1px;
}

form button {
    margin: 36px 15px;
    height: 52px;
    min-width: 160px;
    font-family: "Xanh Mono", serif;
    font-weight: 400;
    text-shadow: none;
    text-transform: none;
    background-color: #a7f0e8;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 16px;
}

.mailing-list {
    display: block;
    margin: 0px 16px 12px;
    text-align: center;
}

.mailing-list .field {
    margin-bottom: 15px;
}

.mailing-list label {
    display: block;
    text-align: left;
    max-width: 320px;
    margin: 0 auto 5px;
}

.video-bg-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    right: 0;
    bottom: 0;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('EndlessOrderFiltered.jpg');
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
    opacity: 0.7;
}

.content {
    width: 33.3%;
    margin: 0 auto;
}

a {
    color: #a7f0e8;
}

@media (max-width: 996px) {
    .content {
        width: 100%;
    }

    .video-section {
        width: 90%;
        margin-bottom: 40px;
    }

    .links {
        bottom: auto;
        top: 380px;
        width: 100%;
        text-align: center;
        padding: 0;
        position: absolute;
    }

    header h1 {
        width: 480px;
        margin-top: 60px;
        margin-bottom: 160px;
    }

    .video-background {
        display: none;
    }

    .video-bg-wrapper{
        background-image: url(./bg.jpeg);
        background-size: cover;
    }
}

@media (max-width: 480px) {
    .video-section {
        width: 95%;
        margin-bottom: 30px;
    }

    header h1 {
        width: 320px;
        font-size: 90px;
        margin-top: 40px;
        margin-bottom: 120px;
    }

    .links {
        top: 210px;
    }
}
